:root {
    --color-primary: #f9f9f9;
    --color-secundary: #151515;
    --color-tertiary: #d6a354;
    --color-quaternary: #111111;

    --font-primary: 'Cinzel';
    --font-secondary: 'Montserrat';
    --font-tertiary: 'Lora', serif;

    --shadow-primary: 0 0 10px rgba(0, 0, 0, 0.1);
    --shadow-secondary: 0 0 10px rgba(0, 0, 0, 0.2);
    --shadow-tertiary: 0 0 10px rgba(0, 0, 0, 0.3);
}
